<button type="button" class="btn btn-primary bottom_btn_left" data-toggle="modal" data-target="#done-modal" data-backdrop=true>
  完了報告
</button>
<div class="modal fade" id="done-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= render "stars/star_form" %>
    </div>
  </div>
</div>