<div class="container text-center">
　<% @hobbies.each do |hobby| %>
    <%= render "admin/hobbies/hobby_display", hobby: hobby %>
  <% end %>
　<%= paginate @hobbies, theme: 'twitter-bootstrap-4' %>
</div>