<div class="container text-center">
  <h2>ナイス趣味(月間)ランキング</h2>
　<% @rank_hobbies.each.with_index(1) do |hobby, i| %>
  　<% if hobby.is_draft == false %>
    第<%= i %>位
      <%= render "admin/hobbies/hobby_display", hobby: hobby %>
    <% end %>
  <% end %>
</div>