<div class="container text-center wrap">
  <%= render "admin/hobbies/hobby_display", hobby: @hobby %>
  <h5 class="alert alert-info border border-dark text-center">コメント一覧</h5>
  <%= render "admin/hobby_comments/comments_index", comments: @comments %>
  <%= paginate @comments, theme: 'twitter-bootstrap-4' %>
</div>