<div class="container text-center">
  <h2>ToDoリスト</h2>
  <div class= "d-flex justify-content-end">
  <%= link_to done_index_user_path(@user), class: "btn btn-outline-success rounded mt-1" do %>
  やってみた趣味一覧
  <i class="fas fa-arrow-right"></i>
  <% end %>
  </div>
  <% @hobbies.each do |hobby| %>
    <%= render "public/hobbies/hobby_display", hobby: hobby %>
  <% end %>
</div>