<div class="btn create_btn" style="background-color: #38b6ff;">
  <%= link_to new_hobby_path(current_user), class: "col-3", style: "text-decoration: none;" do %>
  <i class="fas fa-plus-circle"></i>
  <span class="text-light">
    趣味投稿
  </span>
  <% end %>
</div>