<div class="container text-center">
  <h2>やってみた趣味一覧</h2>
  <div class= "d-flex justify-content-end">
  <%= link_to to_does_user_path(@user), class: "btn btn-outline-success rounded mt-1" do %>
  ToDoリスト
  <i class="fas fa-arrow-right"></i>
  <% end %>
  </div>
  <% if @hobbies.present? %>
    <% @hobbies.each do |hobby| %>
      <%= render "public/hobbies/hobby_display", hobby: hobby %>
    <% end %>
  <%= paginate @hobbies, theme: 'twitter-bootstrap-4' %>
  <% else %>
  <h5>まだやってみた趣味はありません</h5>
  <h5>他のユーザーの投稿に完了報告をすると追加されます</h5>
  <% end %>
</div>