<div class="container text-center">
　<% @draft_hobbies.each do |hobby| %>
  <%= render "public/hobbies/hobby_display", hobby: hobby %>
  <% end %>
　<%= paginate @draft_hobbies, theme: 'twitter-bootstrap-4' %>
</div>