<% unless @hobby == nil %>
  <div class="container text-center wrap">
    <div class= "border-color-blue m-3 p-1">
    <h2>趣味が押し付けられました！</h2>
    <p>[ToDoリストに追加されます]</p>
    </div>
    <%= render "public/hobbies/hobby_display", hobby: @hobby %>
    <h3>できそうだったら一度やってみよう</h3>
  </div>
<% end %>