<div class="container m-5 text-center">
  <% if @notifications_index.present? %>
    <%= render "notifications", notifications_index: @notifications_index %>
  <% else %>
    <h5>通知はありません</h5>
  <% end %>
</div>