<div class="container m-5">
  <div class="row m-5">
    <% if @notifications_index.present? %>
      <%= render "notifications", notifications_index: @notifications_index %>
    <% else %>
      <p>通知はありません</p>
    <% end %>
  </div>
</div>