<div class="container px-5">
  <h2 class="text-center">
  ジャンル名[<%= @genre.genre_name %>]の一覧
  </h2>
  <% @hobbies.each do |hobby| %>
    <%= render "admin/hobbies/hobby_display", hobby: hobby %>
  <% end %>
  <%= paginate @hobbies, theme: 'twitter-bootstrap-4' %>
</div>