<div class="col-8 mx-auto form-group" id="new-genre-form"
           style="display: none; position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(0, 0, 0, 0.6); padding: 30px; z-index: 9999;">
  <table class="table table-borderless">
      <tr>
        <td>
          <%= form_with model: genre, metod: :create,local: false do |f| %>
            <h5 class="row mt-3 message p-2">
            新規ジャンル作成(15文字以内)
            </h5>
            <div class="row mt-3 form-inline">
            <%= f.text_field :genre_name, placeholder: "新規ジャンル名", class: "form-control mr-2", style: "width: 70%" %>
            <%= f.submit "作成", class:"btn btn-primary", style: "width: 25%" %><br>
            </div>
          <% end %>
        </td>
      </tr>
  </table>
</div>
<script>
  // HTMLドキュメントが読み込まれた後に実行される関数
  $(document).ready(function() {
    var genreSelect = $("#genre-select");
    var newGenreForm = $("#new-genre-form");

    // tag選択の内容がチェンジされたときに実行する処理
    genreSelect.on("change", function() {
      if (genreSelect.val() === "new") {
        slideDown(newGenreForm);
      } else {
        slideUp(newGenreForm);
      }
    });

    // 引数で指定された要素をスライドダウンさせる処理
    function slideDown(element) {
      element.fadeIn(300);
    }

    //引数で指定された要素をスライドアップさせる処理
    function slideUp(element) {
      element.fadeOut(300);
    }
  });
</script>