<% if admin_signed_in? %>
  <%= render "layouts/header_admin" %>
<% elsif user_signed_in? %>
  <%= render "layouts/header_public" %>
<% else %>
  <nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class ="header_inner" data-toggle="tooltip" data-original-title="トップページ">
        <% if request.fullpath.include? ("/admin") %>
          <%= link_to image_tag("osituke2.png", size: '100x100', alt: "ositukeロゴ"),admin_root_path %>
        <% else %>
          <%= link_to image_tag("osituke2.png", size: '100x100', alt: "ositukeロゴ"),root_path %>
        <% end %>
      </div>
    </div>
  </nav>
<% end %>